.EventCard {
  width: 100%;

}

.event {
  color: var(--text-color);

  height: 100px;
  overflow: hidden;

  padding: .7rem;

  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform .2s;
  /* Animation */

}

.event:hover {
  transform: scale(1.04);
}

.event_info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.event_info_name {
  cursor: pointer;
  color: var(--ocean_blue);
}

.event_info_userPics {
  display: flex;
  align-items: center;
  width: 10px;
  margin-left: 1rem;
  margin-top: 4px;
}

.event_info_userPic {
  width: 30px;
  padding: 2px;
  /* background-color: var(--sky_blue); */
  background-color: black;
  border: 2px solid var(--sky_blue);
  border-radius: 50%;
  margin-left: -1rem;
}

.EventCard .backgroundImage {
  width: 140px;
  height: 100%;

  background-size: cover !important;
  background-position: center !important;

  border-radius: 7px;

  background-color: var(--background-noImage);
}