.event {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.event_info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.event_info_userPics {
  display: flex;
  width: 10px;
  border-radius: 10px;
  margin-left: 15px;
}

.event_info_userPic {
  width: 30px;
  padding: 2px;
  background-color: var(--background);
  border-radius: 50%;
  margin-left: -15px;
}

.event_img {
  width: 150px;
}
