.expense {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.expense:hover {
  cursor: pointer;
  background-color: #caedff;
  border-radius: 10px;
}

.expense_img-concept {
  display: flex;
  gap: 20px;
  align-items: center;
}

.expense_img-concept > p {
  cursor: pointer;
  font-size: 1.1rem;
}

.expense_img-concept > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.expense_amount {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.expense_amount--green {
  color: var(--green);
}

.expense_amount--red {
  color: var(--red);
}
