.expense {
  padding-top: 0; /* Eliminamos el padding superior */
  padding-bottom: 0; /* Eliminamos el padding inferior */
  /* El resto de tu CSS aquí */
  height: 100px;
  overflow: hidden;
  padding-left: 1.1rem; /* Mantenemos el padding izquierdo */
  padding-right: 1.1rem; /* Mantenemos el padding derecho */
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform .2s;
  margin: 1.1rem;
  height: 3rem;
}


.expense:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.expense_img-concept {
  display: flex;
  gap: 20px;
  align-items: center;
}

.expense_img-concept > p {
  cursor: pointer;
  font-size: 1.1rem;
}

.expense_img-concept > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.expense_amount {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.expense_amount--green {
  color: var(--green);
}

.expense_amount--red {
  color: var(--red);
}
