.input {
  height: 2.5rem;
  width: 65%;
  min-width: 250px;
  background-color: white;
  color: var(--text-color);
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 6px 0px rgba(105, 105, 105, 0.79);
  -moz-box-shadow: 1px 2px 6px 0px rgba(105, 105, 105, 0.79);
  box-shadow: 1px 2px 6px 0px rgba(105, 105, 105, 0.79);
  outline: none;
  padding-left: 0.5rem;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-0 {
  border: 0;
}
